/* Stylez */
body, html {
  height: 100%;
  margin: 0;
  font: 300 15px/1.8 "Lato", sans-serif;
  font-weight: 300;
  color: #000;
}

/* general */
a {
  color: #666 ; 
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #ff9e99; 
  color: #000
}

ul {
  padding: 0 0 0 20px;
  text-align: justify; 
  padding: 0;
  list-style-type: none;
}
/* end general */

/* backgrounds */
.background1, .backgroundSmall, .backgroundMedium, .backgroundMin, .backgroundLine, .title-block {
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.background1, .backgroundSmall, .backgroundMedium, .backgroundMin, .backgroundLine {
  background-size: cover;
  background-position: right;
}

.background1 {
  min-height: 100%;
}

.backgroundSmall {
  min-height: 45%;
}

.backgroundMedium {
  height: 70%;
}

.backgroundMin {
  height: 35%;
}

.backgroundLine {
  height: 10%;
}

.photo1 {
    background-image: url("images/ship.jpg");
    background-repeat: no-repeat;
}

.photo2 {
  opacity: .8;
  background-image: url("images/Tesla.jpg");
  background-repeat: no-repeat;
}

.pink {
  background-color: #ff9e99;
}

.light {
  background-color: white;
}
/* end backgrounds */

/* title */
.title-block {
  position: absolute;
  height: 100%;
  background-size: auto 100%;
}

.left {
  width: 50%;
  left: 0;
  text-align: left;
  background-position: left;
}

.left h1 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 80px;
  font-weight: 900;
  line-height: 150%;
}

.left p {
  font-weight: 300;
}

.right {
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  text-align: right;
  background-position: right;
}

.right h2, .left h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}
/* end title */

/* left right blocks */
.left-block, .right-block {
  position: absolute;
  top: 0;
}

.left-block {
  left: 5%;
  width: 44%;
  text-align: justify;
}
.right-block {
  right: 3%;
  width: 47%;
  text-align: left;
}
.left-block h1, .right-block h1 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 40px;
  font-weight: 900;
  line-height: 100%;
}

.left-block h2, .right-block h2 {
  color: #000;
  font-size: 15px;
  font-weight: 300;
}

.left-block h3, .right-block h3 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 900;
}
/* end left right blocks */

/* center block */
.center-block {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.center-block ul{
  text-align: center;
}

.center-block li{
  text-align: center;
  margin: 10px 0;
}
/* end center block */

#scrollDown {
  text-align:center;
  display:block;
  padding-top: 0;
  padding-left: 25%
}

#scrollDown:hover{
  border-bottom: 0px; 
}

#scrollDown:hover #arrow-down {
  fill: #ff9e99;
}


.inline-list {list-style: none; margin: 0; padding: 0; word-spacing: 2em}
.inline-list li {display: inline-block; font-size: 11px; letter-spacing: .15em; color: #333;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .background1, .backgroundSmall, .backgroundMedium, .backgroundMin, .backgroundLine, .title-block {
        background-attachment: scroll;
    }
}

footer {
    position: fixed;
    width: 100%; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    bottom: 0px; 
    left: 0px;
    z-index: 80;
}

