/* Stylez */
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  font-weight: thin 100;
  color: #777;
}
a {color: #eee; text-decoration: none;}
a:hover {border-bottom: 1px solid #eee; color: #eee}
ul {padding: 0 0 0 20px;}

.background1, .backgroundSmall, .backgroundMedium, .backgroundMin {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.background1 {
  min-height: 100%;
}

.backgroundSmall {
  min-height: 55%;
}

.backgroundMedium {
  height: 80%;
}

.backgroundMin {
  height: 35%;
}

.photo1 {
    opacity: 0.;
    background-image: url("images/ship.jpg");
}

.photo2 {
    opacity: 0.65;
  background-image: url("images/blackmarble.jpg");
}

.light {
  background-color: white;
}

.dark {
  background-color: #eee;
  color: #fff;
}

.oxblood {
  background-color: #4A0000;
  color: #fff;
}

.halfsie {
    background: linear-gradient(90deg, #eee 50%, #4A0000 50%);
}

.center-block {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.center-block h2 {
  color: #fff;
  font-size: 17px;
  font-weight: lighter;;
}

.center-block h3 {
  color: #eee;
  font-size: 30px;
}

.full-block {
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;text-align: center;
}

.middle-block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

.left-block {
  position: absolute;
  left: 5%;
  top: 0;
  width: 35%;
  text-align: justify;
}

.left-block h1 {
  font-family: 'Catamaran', sans-serif;
  color: #fff;
  font-size: 80px;
  font-weight: 400;
}

.right-block {
  position: absolute;
  right: 5%;
  top: 0;
  width: 35%;
  text-align: justify;
}



.simpleList {
    padding: 0;
    list-style-type: none;
    font-weight: lighter;
}


.wideList li { margin: 10px 0; }


.right-block h4 {
  font-size: 10px;
  font-weight: lighter;
}


.toggle-block {
    width: 100%;
    margin-top:0px;
    display: none;
}


.inline-list {list-style: none; margin: 0; padding: 0; word-spacing: 2em}
.inline-list li {display: inline-block; font-size: 11px; letter-spacing: .15em; color: #333;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .background1, .backgroundSmall, .backgroundMedium, .backgroundMin {
        background-attachment: scroll;
    }
}

footer {
    position: fixed;
    width: 100%; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    bottom: 0px; 
    left: 0px;
    z-index: 80;
}

